<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Effects+</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>EffectsPlusPref.png</string>
      <key>label</key>
      <string>Effects+</string>
    </dict>
    <key>items</key>
    <array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Effects+</string>
			<key>footerText</key>
			<string>Enabling every filters is not a good idea because too many filters can causes the lag.</string>
		</dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>Enabled</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Select Filters</string>
			<key>detail</key>
			<string>EffectsPlusFiltersSelectionController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Filters Settings</string>
			<key>footerText</key>
			<string>Adjust the specific parameters for each filter.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>detail</key>
			<string>EffectsPlusFiltersSettingsController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Live Filters Quality</string>
			<key>footerText</key>
			<string>Adjust the quality factor of filters list page in camera app. This option may be necessary if you face the lag because of many filters there.</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>qualityFactor</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.01</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fill filters list</string>
			<key>footerText</key>
			<string>Replace the empty black space in filters list view with the normal view(s) without filter.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>FillGrid</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto Hide Bottom Bar</string>
			<key>footerText</key>
			<string>When there are many filters, the bottom bar could shade the filters. Enable this to fix that issue.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>AutoHideBB</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus.prefs</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>donate:</string>
      		<key>label</key>
      		<string>Donate</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Developer's notes
• The camera app live filters implementation by Apple performance is poor, unlike Photo Booth app, which achieves better performance. So you may face the lag issue in camera app when viewing the filters list.
• Multiple filters at once is possible, but not implemented yet. I'm working on this.
• Bloom and Gloom filter consume most memory because they both blurs and glows, also resizes (Resizing gives smaller image, the fix is included) the input image. Enabling both filters at the same time can causes much lag.
• Filters list count is not less than 9 even you have less than 9 filters enabled.
• Sometimes when you took a photo with some extra filter applied, and you are going to edit the photo in the album, the applied filter maybe reset to non-filter.
• There are no way to reposition the non-filter view in filters list (in the middle with tweak disabled) in camera app yet.
   
© 2013 - 2014 Thuchapol Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
