<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Effects+</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>EffectsPlusPref.png</string>
      <key>label</key>
      <string>Effects+</string>
    </dict>
    <key>items</key>
    <array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>Enabled</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus/ReloadPrefs</string>
        	<key>set</key>
       		<string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>id</key>
        	<string>oldEditor</string>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>useOldEditor</string>
        	<key>label</key>
        	<string>Old editor</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus/ReloadPrefs</string>
        	<key>set</key>
       		<string>masterSwitch:specifier:</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
      <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Select Filters</string>
			<key>name</key>
			<string>Select Filters</string>
			<key>detail</key>
			<string>EffectsPlusFiltersSelectionController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Filters Settings</string>
			<key>detail</key>
			<string>EffectsPlusFiltersSettingsController</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Photos saving type</string>
			<key>id</key>
        	<string>footer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>EPSaveOptionCell</string>
			<key>label</key>
			<string>Type</string>
        	<key>footerAlignment</key>
        	<integer>0</integer>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Effects grid quality factor</string>
			</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>qualityFactor</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.01</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>FillGrid</string>
        	<key>label</key>
        	<string>Fill effects grid</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus/ReloadPrefs</string>
      </dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>AutoHideBB</string>
        	<key>label</key>
        	<string>Auto hide bars</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus/ReloadPrefs</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      	</dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>id</key>
        	<string>as</string>
      		<key>alignment</key>
      		<integer>2</integer>
      		<key>action</key>
      		<string>reloadAS:</string>
      		<key>label</key>
      		<string>Reload assetsd</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>Developer</string>
      		<key>footerAlignment</key>
		<integer>1</integer>
		<key>footerText</key>
		<string>© 2013 - 2016 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
      <dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
		<string>HBTwitterCell</string>
		<key>height</key>
		<integer>60</integer>
		<key>label</key>
		<string>PoomSmart</string>
		<key>user</key>
		<string>PoomSmart</string>
	</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate ❤️</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>url</key>
			<string>http://poomsmartios.blogspot.com/2015/08/donation.html</string>
		</dict>
    </array>
  </dict>
</plist>
