<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Effects+</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>EffectsPlusPref.png</string>
      <key>label</key>
      <string>Effects+</string>
    </dict>
    <key>items</key>
    <array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Effects+</string>
			<key>footerText</key>
			<string>Enabling every filters is not a good idea because too many filters causes the lag.</string>
		</dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>Enabled</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Select Filters</string>
			<key>detail</key>
			<string>EffectsPlusFiltersSelectionController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Filters Settings</string>
			<key>footerText</key>
			<string>Adjust the specific parameters for each filter.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>detail</key>
			<string>EffectsPlusFiltersSettingsController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Live Filters Quality</string>
			<key>footerText</key>
			<string>Adjust the quality factor of filters in the filters selection page in camera app. This option may be necessary if you face the lag because of many filters there.</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>qualityFactor</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.01</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fill filters list</string>
			<key>footerText</key>
			<string>Replace the empty black space in filters selection view with empty filter view(s).</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>FillGrid</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto Hide Bottom Bar</string>
			<key>footerText</key>
			<string>When there are many filters, the bottom bar could shade the filters. Enable this to fix that issue.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.EffectsPlus</string>
        	<key>key</key>
        	<string>AutoHideBB</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.EffectsPlus.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>© 2013 - 2014 Thuchapol Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
