<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Filters Settings</string>
    <key>items</key>
    <array>
    	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The value type for text boxes is just a numeric value (NSNumber), you can put them with or without digits.
Options with 3 sliders together are for setting color, in RGB, respectively.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sepia</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CISepiaTone</string>
			<key>default</key>
			<string>1.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CISepiaTone_inputIntensity</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputIntensity</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibrance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIVibrance</string>
			<key>default</key>
			<string>1.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIVibrance_inputAmount</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputAmount</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Replace (Monochrome)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIColorMonochrome_inputIntensity</string>
			<key>default</key>
			<string>1.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIColorMonochrome_inputIntensity</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputIntensity</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Replace - inputColor</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIColorMonochrome_R</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.6</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIColorMonochrome_G</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.7</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIColorMonochrome_B</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Posterize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIColorPosterize_inputLevels</string>
			<key>default</key>
			<string>6.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIColorPosterize_inputLevels</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputLevels</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gloom</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIGloom_inputRadius</string>
			<key>default</key>
			<string>10.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIGloom_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIGloom_inputIntensity</string>
			<key>default</key>
			<string>1.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIGloom_inputIntensity</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputIntensity</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bloom</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIBloom_inputRadius</string>
			<key>default</key>
			<string>10.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIBloom_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIBloom_inputIntensity</string>
			<key>default</key>
			<string>1.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIBloom_inputIntensity</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputIntensity</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sharp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CISharpenLuminance_inputSharpness</string>
			<key>default</key>
			<string>0.40</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CISharpenLuminance_inputSharpness</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputSharpness</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pixel (Pixellate)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIPixellate_inputScale</string>
			<key>default</key>
			<string>8.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIPixellate_inputScale</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputScale</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur (Gaussian Blur)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIGaussianBlur_inputRadius</string>
			<key>default</key>
			<string>10.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIGaussianBlur_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>False</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>False - inputColor0</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIFalseColor_R1</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.3</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIFalseColor_G1</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIFalseColor_B1</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>False - inputColor1</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.6</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIFalseColor_R2</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.8</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIFalseColor_G2</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.9</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIFalseColor_B2</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Twirl</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CITwirlDistortion_inputRadius</string>
			<key>default</key>
			<string>200.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CITwirlDistortion_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Twirl - inputAngle (Degree)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>180</real>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CITwirlDistortion_inputAngle</string>
			<key>max</key>
			<real>360</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Triangle (Kaleidoscope)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CITriangleKaleidoscope_inputSize</string>
			<key>default</key>
			<string>300.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CITriangleKaleidoscope_inputSize</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputSize</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CITriangleKaleidoscope_inputDecay</string>
			<key>default</key>
			<string>0.85</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CITriangleKaleidoscope_inputDecay</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputDecay</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Squeeze</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIPinchDistortion_inputRadius</string>
			<key>default</key>
			<string>200.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIPinchDistortion_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIPinchDistortion_inputScale</string>
			<key>default</key>
			<string>0.50</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIPinchDistortion_inputScale</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputScale</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Light Tunnel</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CILightTunnel_inputRadius</string>
			<key>default</key>
			<string>90.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CILightTunnel_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CILightTunnel_inputRotation</string>
			<key>default</key>
			<string>0.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CILightTunnel_inputRotation</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRotation</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hole</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CIHoleDistortion_inputRadius</string>
			<key>default</key>
			<string>150.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CIHoleDistortion_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Circle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CICircleSplashDistortion_inputRadius</string>
			<key>default</key>
			<string>150.00</string>
			<key>defaults</key>
			<string>com.PS.EffectsPlus</string>
			<key>key</key>
			<string>CICircleSplashDistortion_inputRadius</string>
			<key>set</key>
			<string>setInput:forSpecifier:</string>
			<key>label</key>
			<string>inputRadius</string>
			<key>PostNotification</key>
			<string>com.PS.EffectsPlus.prefs</string>
		</dict>
	
    </array>
  </dict>
</plist>
